    <!-- Bank of Anthos Navigation Bar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-top">
        <div class="container">
        {% if cymbal_logo == "true" %}
          <div class="logo-container">
            <a href="/"><img id="cymbal-logo" src="static/img/cymbal.svg"></a>
          </div>
        {% else %}
          <a class="navbar-brand">
            {{ bank_name }}
          </a>
        {% endif %}
        {% if name %}
          <button type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
            <span class="material-icons">menu</span>
          </button>
          <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>
                      <span id="account-user-name">{{ name }}</span>
                  </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                {% if accounts is defined %}
                  <h6 class="dropdown-header">Switch Account</h6>
                  {% for account in accounts %}
                    {% if account.accountid == account_id %}
                      <span class="dropdown-item active">{{ account.nickname }} ({{ account.accountid }})</span>
                    {% else %}
                      <form method="POST" action="/switch-account">
                        <input type="hidden" name="accountid" value="{{ account.accountid }}">
                        <button type="submit" class="dropdown-item">{{ account.nickname }} ({{ account.accountid }})</button>
                      </form>
                    {% endif %}
                  {% endfor %}
                  {% if not has_savings %}
                    <div class="dropdown-divider"></div>
                    <form method="POST" action="/open-savings">
                      <button type="submit" class="dropdown-item">Open Savings Account</button>
                    </form>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                {% endif %}
                  <form id="logout-form" method="POST" action="/logout">
                    <a class="dropdown-item" onclick="document.querySelector('#logout-form').submit();">Sign out<i class="fa-icon-spacer fas fa-sign-out-alt"></i></a>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        {% endif %}
        </div>
      </nav>
    </header>